<bu-title>ngx-bulma</bu-title>


<section>
  <bu-subtitle>Buttons</bu-subtitle>
  <bu-button buDanger buLarge>large danger button</bu-button>
  <bu-button buDark buNormal>normal dark button</bu-button>
  <bu-button buWarning buSmall>small warning button</bu-button>

  <br />
  <br />
  
  <bu-button buPrimary loading>loading</bu-button>  
  <a buButton buSuccess>Directive button</a>
  <a buButton outlined buDanger>Outlined button</a>
  <a buButton inverted buWarning>inverted button</a>
</section>

<section>
  <bu-subtitle>Titles</bu-subtitle>
  <h1 buTitle>Directive Title</h1>
  <h1 buSubtitle>Directive Subtitle</h1>
</section>

<section>
  <bu-subtitle>Tags</bu-subtitle>
  <bu-tag buSuccess>
    Success Tag
  </bu-tag>

  <bu-tag buWarning closeable>
    Warning Tag
  </bu-tag>
</section>

<section>
  <bu-subtitle>Boxes</bu-subtitle>
  <bu-box>
    Hello from box
  </bu-box>

  <div buBox>
    Hello from directive box
  </div>
</section>

<section>
  <bu-subtitle>Notification</bu-subtitle>
  <bu-notification buPrimary closeable (close)="handleClose()">
    Hello from primary closable notification
  </bu-notification>

  <div bu-notification closeable>
    Hello from directive closable notificaiton
  </div>
</section>

<section>
  <bu-subtitle>Progress bar</bu-subtitle>
  <progress class="progress" value="50" max="100" buWarning buSmall>50</progress>
</section>

<section>
  <bu-subtitle>Message</bu-subtitle>
  <bu-message header="hello!" buDanger>
    Hello from a non-closable danger <em>message</em>!
  </bu-message>
</section>

<section>
  <bu-subtitle>Tabs</bu-subtitle>
  <h3>Tabs without content</h3>
  <bu-tabs fullwidth>
    <bu-tab header="hello"></bu-tab>
    <bu-tab header="world"></bu-tab>
  </bu-tabs>

  <br />

  <h3>Tabs with content</h3>
  <bu-tabs toggle fullwidth buLarge>
    <bu-tab header="hello" icon="home">
      Hello!!
    </bu-tab>
    <bu-tab header="world" icon="globe">
      World!!
    </bu-tab>
  </bu-tabs>
</section>

<section>
  <bu-subtitle>Grid</bu-subtitle>
  <bu-columns>
    <bu-column size="10">Size 10!</bu-column>
    <bu-column>Fills to rest</bu-column>
  </bu-columns>
</section>

<section>
  <bu-subtitle>Tiles</bu-subtitle>

  <bu-tile ancestor>
    <bu-tile vertical parent size="4">
      <bu-tile child buBox>
          <bu-title>One</bu-title>
      </bu-tile>
      
      <bu-tile child buBox>
          <bu-title>Two</bu-title>
      </bu-tile>
    </bu-tile>

    <bu-tile parent>
      <bu-tile child buBox>
          <bu-title>Three</bu-title>
      </bu-tile>
    </bu-tile>
  </bu-tile>
</section>