<bulma-title>Title!</bulma-title>

<bulma-subtitle>Subtitle!</bulma-subtitle>

<br />
<br />

<bulma-button color="danger" size="large">large danger button</bulma-button>
<bulma-button color="dark" size="normal">normal dark button</bulma-button>
<bulma-button color="warning" size="small">small warning button</bulma-button>

<br />
<br />

<bulma-tag color="success"> 
  Success Tag
  <bulma-delete></bulma-delete>
</bulma-tag>

<bulma-tag color="warning"> 
  Warning Tag
  <bulma-delete></bulma-delete>
</bulma-tag>

<br />
<br />

<bulma-box>
  Hello
</bulma-box>