<bulma-title>Title!</bulma-title>

<bulma-subtitle>Subtitle!</bulma-subtitle>

<br />
<br />

<bulma-button color="danger" size="large">large danger button</bulma-button>
<bulma-button color="dark" size="normal">normal dark button</bulma-button>
<bulma-button color="warning" size="small">small warning button</bulma-button>
<bulma-button color="primary" loading>loading</bulma-button>

<br />
<br />

<bulma-tag color="success">
  Success Tag
</bulma-tag>

<bulma-tag color="warning" closeable>
  Warning Tag
</bulma-tag>

<br />
<br />

<bulma-box>
  Hello
</bulma-box>

<br />
<br />

<bulma-notification color="primary" closeable (close)="handleClose()">
  Hello!
</bulma-notification>

<br />
<br />

<bulma-progress value="50" color="warning" size="small"></bulma-progress>

<br />
<br />

<bulma-message header="hello!" color="danger">
  Hi, what's up? <em>!!!</em>
</bulma-message>

<br />
<br />

<bulma-tabs fullwidth>
  <bulma-tab header="hello"></bulma-tab>
  <bulma-tab header="world"></bulma-tab>
</bulma-tabs>

<br />
<br />

<bulma-tabs toggle fullwidth size="large">
  <bulma-tab header="hello" icon="home"></bulma-tab>
  <bulma-tab header="world" icon="globe"></bulma-tab>
</bulma-tabs>

<br />
<br />

<bulma-columns>
  <bulma-column size="10">Hello!</bulma-column>
  <bulma-column>Grid!</bulma-column>
</bulma-columns>

<br />
<br />

<bulma-tile ancestor>
  <bulma-tile vertical parent size="4">
    <bulma-tile child>
        <bulma-title>One</bulma-title>
    </bulma-tile>
    
    <bulma-tile child>
        <bulma-title>Two</bulma-title>
    </bulma-tile>
  </bulma-tile>

  <bulma-tile parent>
    <bulma-tile child>
        <bulma-title>Three</bulma-title>
    </bulma-tile>
  </bulma-tile>
</bulma-tile>